footer 
{
    display: none;
}

li 
{
    text-overflow: initial;
}

section 
{
    margin : 5px;
}


#location:required
{
    background-color: yellow;
}

#localShelterZip:required
{
    background-color: yellow;
}

#localShelterId:required
{
    background-color: yellow;
}

#findByBreed:required
{
    background-color: yellow;
}

#findAPet
{
    padding: 5px;
    background-color: lightgray;
}

#findLocalShelter
{
    padding: 5px;
    background-color: lightgreen;
}

#findPetInShelter
{
    padding: 5px;
    background-color: lightsalmon;
}

#findABreed
{
    padding : 5px;
    background-color: red;    
}

#localShelters
{
    display : none;
}

#petResults
{
    display : none; 
}

#localPet
{
    display : none;
}