.Body 
{
    background-image: linear-gradient(90deg, grey, slategrey);
}

h2
{
    background-color: lightgray;
    color: #ffffff;
    font-size: 30;
    padding: 15px;
    text-align: center;
    text-shadow: 3px 3px 7px orange;
}

li 
{
    float: left;
    list-style-type: none;
}

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-style: none;
    border-radius: 2px;
}

li :hover
 {
    background-color: darkgreen;    
}

#Corners 
{
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 10px;
} 

.Flex-Container
{
    display: flex;
    flex-wrap: nowrap;
    background-color: lightgrey;
}

article 
{
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 10px;
}

img 
{
    border: 1px solid #ccc;
    height: 50px;
    margin: 5px;
    width: 50px;
}

img:hover
{
    transform: skewY(20deg);
}

div
{
    word-wrap: break-word;
}

footer
{
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 10px;
}

footer div
{
    text-decoration: none;
    background-color: lightgray;
    padding: .5em;
    color: white;  
}

footer div span
{
    display: block;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{ 
    .col
    {
        width: 5%;
        float: left;
        padding: 30px;  
        margin: 5px;
    }

    .col:hover
    {
        background-color: darkgreen;
        box-shadow: 6px 4px darkgreen;
        font-weight: bold;
    }

    #Footer
    {
        display: none;
    }

    header p:before
    {
        color: black;
        content: "(max-width: 600px) ";
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px)
{
    .col
    {
        width: 20%;
        float: left;
        padding: 30px;  
        margin: 5px;
    }

    .col:hover
    {
        background-color: darkgreen;
        box-shadow: 6px 4px darkgreen;
        font-weight: bold;
    }

    header p:before
    {
        color: black;
        content: "(min-width: 600px) and (max-width: 767px)";
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px)
{
    .col
    {
        width: 35%;
        float: left;
        padding: 30px;  
        margin: 5px;
    }
    .col:hover
    {
        background-color: darkgreen;
        box-shadow: 6px 4px darkgreen;
        font-weight: bold;
    }

    header p:before
    {
        color: black;
        content: "(min-width: 768px) and (max-width: 991px)";
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px)
{
    .col
    {      
        width: 60%;  
        float: left;
        padding: 30px;  
        margin: 5px;      
    }    

    .col:hover
    {
        background-color: darkgreen;
        box-shadow: 6px 4px darkgreen;
        font-weight: bold;
    }

    header p:before
    {
        color: black;
        content: "(min-width: 992px) and (max-width: 1199px)";
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
    .col
    {       
        width: 15%; 
        float: left;
        padding: 30px;  
        margin: 5px;       
    } 
    .col:hover
    {
        background-color: darkgreen;
        box-shadow: 6px 4px darkgreen;
        font-weight: bold;
    }
}